<div class="container">
    <h1>Contacto</h1>
    <p>
        Esta es la pagina de contacto
    <!-- </p>
    <div *ngIf="autor">
        <h2>{{autor.nombre}}</h2>
        <h3>{{autor.web}}</h3>
        <h4>{{autor.youtube}}</h4>
    </div>
    <input type="number" [(ngModel)]="widthSlider">

    <button (click)="cargarSlider()">Cargar</button>

    <button (click)="resetear()">Resetear</button>

    <div *ngIf="anchorSlider">

        <slider [anchor]="widthSlider" (getAutor)="getAutor($event)"></slider>

    </div> -->
</div>