<div id="title">
  <h1>{{title}}</h1>
  
  <h2>{{subTitle}}</h2>
  <p>{{email}}</p>
</div>

<article class="about">
  <h2>
    Sobre mí
  </h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id nisi odio. Nullam sit amet porta arcu. Aliquam sit
    amet ante nec tortor congue feugiat. Cras non felis semper est hendrerit vehicula sit amet nec neque. Donec ac
    dignissim ligula. Sed in mauris dolor. Vestibulum aliquet neque quis dui viverra efficitur. Aliquam fringilla
    rhoncus odio, semper pharetra orci molestie vitae. Vivamus dictum lacus dolor, in ultricies leo aliquet non.
  </p>  
</article>